
  <ion-header >
  <ion-toolbar>
    <ion-item>
    <ion-title >Get To PC</ion-title>
    <ion-searchbar  autocomplete="on" animated="true" ></ion-searchbar>
    <ion-button color="medium"fill="clear"routerLink="/cart" routerDirection="forward">
      <ion-icon slot="icon-only" name="cart-outline"></ion-icon>
    </ion-button>
    <ion-button color="medium" routerLink="/home" routerDirection="forward" fill="clear">Log Out</ion-button>
  </ion-item>
  </ion-toolbar>
</ion-header>
<ion-item>
  <ion-button color="medium" routerLink="/index" routerDirection="forward" fill="clear">All products</ion-button>
  <ion-button color="medium" routerLink="/pcset" routerDirection="forward" fill="clear">PC Sets</ion-button>
  <ion-button color="medium" routerLink="/laptos" routerDirection="forward" fill="clear">Laptops</ion-button>
  <ion-button color="medium" routerLink="/processors" routerDirection="forward" fill="clear">Processors</ion-button>
  <ion-button color="medium" routerLink="/motherboards" routerDirection="forward" fill="clear">Motherboard</ion-button>
  <ion-button color="medium" routerLink="/memory" routerDirection="forward" fill="clear">Memory Modules</ion-button>
  <ion-button color="medium" routerLink="/storage" routerDirection="forward" fill="clear">Internal Storage</ion-button>
  <ion-button color="medium" routerLink="/graphics" routerDirection="forward" fill="clear">Graphics Card</ion-button>
  <ion-button color="medium" routerLink="/casing" routerDirection="forward" fill="clear">Casing</ion-button>
  <ion-button color="medium" routerLink="/power" routerDirection="forward" fill="clear">Power Supply</ion-button>
  <ion-button color="medium" routerLink="/nic" routerDirection="forward" fill="clear">NIC Cards</ion-button>
  <ion-button color="medium" routerLink="/fans" routerDirection="forward" fill="clear">CPU Fans</ion-button>
  <ion-button color="medium" routerLink="/opdrive" routerDirection="forward" fill="clear">Optical Drives</ion-button>
  
</ion-item>
<ion-item>
  <ion-button color="medium" routerLink="/monitor" routerDirection="forward" fill="clear">Monitors</ion-button>
  <ion-button color="medium" routerLink="/keyboard" routerDirection="forward" fill="clear">keyboards</ion-button>
  <ion-button color="medium" routerLink="/mouse" routerDirection="forward" fill="clear">mouse</ion-button>
  <ion-button color="medium" routerLink="/headsets" routerDirection="forward" fill="clear">headsets</ion-button>
  <ion-button color="medium" routerLink="/printers" routerDirection="forward" fill="clear">printers</ion-button>
  <ion-button color="medium" routerLink="/speakers" routerDirection="forward" fill="clear">speakers</ion-button>
  <ion-button color="medium" routerLink="/mic" routerDirection="forward" fill="clear">microphones</ion-button>
  <ion-button color="medium" routerLink="/cam" routerDirection="forward" fill="clear">cameras</ion-button>
  <ion-button color="medium" routerLink="/accessory" routerDirection="forward" fill="clear">accessories</ion-button>
</ion-item>
<ion-content>
 

<body>
  <ion-item>

    <ion-row>
      <ion-col>
        <ion-card >
          <ion-card-header >
            <img src="../assets/img/pc/pc1.webp" style=" border: solid 2px #000; border-radius: 12px;" >
          <ion-card-title>Intel i3 7th Gen Desktop computer set with 22inch Monitor and Free Accessories</ion-card-title>
        </ion-card-header>
         <ion-item >
         <ion-button color="medium" routerLink="/cart" routerDirection="forward" fill="clear" expand="full">Add to Cart</ion-button>
          <ion-button color="medium" routerLink="/buy" routerDirection="forward" fill="clear" >Buy now</ion-button>
       </ion-item>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card >
          <ion-card-header >
            <img src="../assets/img/pc/pc2.webp" style=" border: solid 2px #000; border-radius: 12px;" >
          <ion-card-title>COMPUTER SET [i5 10500]-[ 10thGen ][MSI H410M PRO-E][8GB RAM 3200Mhz][240GB SSD][24Inch Monitor]</ion-card-title>
        </ion-card-header>
         <ion-item >
         <ion-button color="medium" routerLink="/cart" routerDirection="forward" fill="clear" expand="full">Add to Cart</ion-button>
          <ion-button color="medium" routerLink="/buy" routerDirection="forward" fill="clear" >Buy now</ion-button>
       </ion-item>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card >
          <ion-card-header >
            <img src="../assets/img/pc/pc3.webp" style=" border: solid 2px #000; border-radius: 12px;" >
          <ion-card-title>PC SET RYZEN 3 AND RYZEN 5 and ATHLON 3000G| 8GB RAM | 120GB SSD | 19" LED MONITOR</ion-card-title>
        </ion-card-header>
         <ion-item >
         <ion-button color="medium" routerLink="/cart" routerDirection="forward" fill="clear" expand="full">Add to Cart</ion-button>
          <ion-button color="medium" routerLink="/buy" routerDirection="forward" fill="clear" >Buy now</ion-button>
       </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-item>
  
</body>
</ion-content>

<ion-footer>

</ion-footer>
