
  <ion-header >
  <ion-toolbar>
    <ion-item>
    <ion-title >Get To PC</ion-title>
    <ion-searchbar  autocomplete="on" animated="true" ></ion-searchbar>
    <ion-button color="medium"fill="clear">
      <ion-icon slot="icon-only" name="cart-outline"></ion-icon>
    </ion-button>
    <ion-button color="medium" routerLink="/home" routerDirection="forward" fill="clear">Log Out</ion-button>
  </ion-item>
  </ion-toolbar>
</ion-header>
<ion-item>
  <ion-button color="medium" routerLink="/home" routerDirection="forward" fill="clear">All products</ion-button>
  <ion-button color="medium" routerLink="/home" routerDirection="forward" fill="clear">PC Sets</ion-button>
  <ion-button color="medium" routerLink="/home" routerDirection="forward" fill="clear">Laptops</ion-button>
  <ion-button color="medium" routerLink="/home" routerDirection="forward" fill="clear">Processors</ion-button>
  <ion-button color="medium" routerLink="/home" routerDirection="forward" fill="clear">Motherboard</ion-button>
  <ion-button color="medium" routerLink="/home" routerDirection="forward" fill="clear">Memory Modules</ion-button>
  <ion-button color="medium" routerLink="/home" routerDirection="forward" fill="clear">Internal Storage</ion-button>
  <ion-button color="medium" routerLink="/home" routerDirection="forward" fill="clear">Graphics Card</ion-button>
  <ion-button color="medium" routerLink="/home" routerDirection="forward" fill="clear">Casing</ion-button>
  <ion-button color="medium" routerLink="/home" routerDirection="forward" fill="clear">Power Supply</ion-button>
  <ion-button color="medium" routerLink="/home" routerDirection="forward" fill="clear">NIC Cards</ion-button>
  <ion-button color="medium" routerLink="/home" routerDirection="forward" fill="clear">CPU Fans</ion-button>
  <ion-button color="medium" routerLink="/home" routerDirection="forward" fill="clear">Optical Drives</ion-button>
  
</ion-item>
<ion-content>
 

<body>

<ion-item>

    <ion-row>
      <ion-col>
              
            <img src="../assets/img/pc/pc1.webp" style=" border: solid 2px #000; border-radius: 12px;" >
        
    
      </ion-col>
      <ion-col>
      
         
            <img src="../assets/img/pc/pc1.webp" style=" border: solid 2px #000; border-radius: 12px;" >
        
       
      </ion-col>
      <ion-col>
        
          
            <img src="../assets/img/pc/pc1.webp" style=" border: solid 2px #000; border-radius: 12px;" >
          
        
      </ion-col>
    </ion-row>
  </ion-item>
  <ion-item>

    <ion-row>
      <ion-col>
              
            <img src="../assets/img/pc/pc1.webp" style=" border: solid 2px #000; border-radius: 12px;" >
        
    
      </ion-col>
      <ion-col>
      
         
            <img src="../assets/img/pc/pc1.webp" style=" border: solid 2px #000; border-radius: 12px;" >
        
       
      </ion-col>
      <ion-col>
        
          
            <img src="../assets/img/pc/pc1.webp" style=" border: solid 2px #000; border-radius: 12px;" >
          
        
      </ion-col>
    </ion-row>
  </ion-item>
</body>
</ion-content>

<ion-footer>

</ion-footer>
