
  <ion-header >
  <ion-toolbar>
    <ion-item>
    <ion-title >Get To PC</ion-title>
    <ion-searchbar  autocomplete="on" animated="true" ></ion-searchbar>
    <ion-button fill="clear">
      <ion-icon slot="icon-only" name="cart-outline"></ion-icon>
    </ion-button>
    <ion-button routerLink="/home" routerDirection="forward" fill="clear">Log Out</ion-button>
  </ion-item>
  </ion-toolbar>
</ion-header>
<ion-item color="dark">
  <ion-tabs color="dark">
  <ion-tab-bar color="dark" slot="bottom">
    <ion-tab-button tab="schedule">
      <ion-label>Schedule</ion-label>
      <ion-badge>6</ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="speakers">
      <ion-label>Speakers</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="map">
      <ion-label>Map</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="about">
      <ion-label>About</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
</ion-item>
<ion-content>

<body>
  
</body>
</ion-content>

<ion-footer>

</ion-footer>
